
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;600&display=swap');

.nav{
	display: flex;
	justify-content: space-between;
	padding: 15px 5px;
	align-items: center;
}
.logo{
	font-size: 24px;
	font-weight: bold;
	font-family: roboto;
}
ul{
	list-style: none;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	padding: 8px 30px;
	color: #0D6EFD;
	border-radius: 8px;
	font-family: roboto;
	font-weight: 500;
}
ul li a:hover{
	background-color: #0D6EFD;
	color: white;
}
.hero{
	background-color: #37517E;
	height: 100vh;
}
.container{
	margin: 0px 80px;
	padding: 100px  0 0 0;
}

.tag-hero{
	width: 615px;
}
.tag-hero h1{
	font-size: 48px;
	font-family: josh;
	font-weight: 700;
	color: white;
}
.tag-hero p{
	font-size: 24px;
	margin-top: 10px;
	color: white;
	opacity: 60%;
	font-family: josh;
}
.btn-hero{
	display: flex;
	gap: 40px;
	margin: 50px 0 0 0;
}
.btn-hero .btn-start{
	border-radius: 30px;
	padding: 14px 28px;
	background-color: #47B2E4;
	font-size: 16px;
	font-family: josh;
	font-weight: 500;
	color: white;
	text-decoration: none;
	transition: 0.4s;
}
.btn-hero .btn-start:hover{
	background-color: #2c89b5;
}
.btn-hero .btn-watch{
	border-radius: 30px;
	padding: 14px 28px;
	font-size: 16px;
	font-family: josh;
	font-weight: 500;
	color: white;
	text-decoration: none;
}
.container .fluid{
	display: flex;
	align-items: center;
	justify-content: center;
}
.container figure img{
	width: 636px;
	height: 527px;
}
.news{
	background-color: #F3F5FA;
	display: flex;
	align-items: center;
	padding: 50px 0;
	justify-content: center;
}
.news .HeadNews h3{
	font-family: josh;
	font-size: 24px;
	font-weight: 600;
	color: #37517E;
	text-align: center;
	padding: 10px 0;
}
.news .HeadNews p{
	font-size: 15px;
	color: #444444;
	font-weight: 400;
	text-align: center;
	padding: 10px 0;
}
.Subscribe{
	margin: 10px 0;
	width: 636px;
	padding: 0;
	height: 38px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: end;
	border-radius: 30px;
	border: none;
	box-shadow: 6px #060606;
}
.Subscribe input{
	width: 80%;
	height: 100%;
	border: none;
	border-radius: 30px;
	color: #444444;
	font-size: 14px;
	outline: none;
}
.Subscribe button{
	background:none;
	border: none;
	padding: 0;
	border-radius: 30px;
}
.Subscribe .btn{
	text-decoration: none;
	border-radius: 30px;
	padding: 12px 24px;
	background-color: #47B2E4;
	font-size: 16px;
	width: 100%;
	font-family: josh;
	font-weight: 400;
	color: rgb(255, 243, 243);
	transition: 0.4s;
}
.Subscribe .btn:hover{
	background-color: #2c89b5;
}
footer .container-footer{
	margin: 0 100px;
	padding: 70px 0;
}
footer .row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: white;
    padding: 0;
}
.footer-col{
   width: 25%;
   padding: 0px;
}
.footer-col .addres p{
	line-height: 16px;
}
.footer-col p{
	font-family: 'Open Sans';
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	color: #777777;
	padding: 5px 0 0 0;
	line-height: 21px;
}
.footer-col .contact{
	margin-top: 30px;
}
.footer-col .contact p span{
	font-weight: 700;
	color: #5E5E5E;
}
.footer-col ul li{
	width: 100%;
	margin:5px 0 0 0;
}
.footer-col h1{
	font-size: 28px;
	font-family: josh;
	font-weight: 600;
	margin-bottom: 5px;
	color: #37517E;
	text-transform: capitalize;
	position: relative;
}
.footer-col h4{
	font-size: 16px;
	color: #37517E;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 700;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	margin:10px 0 0 0;
	font-family: 'Open Sans';
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	color: #777777;
}
.footer-col .social-links a{
	display: inline-block;
	height: 36px;
	width: 36px;
	background-color: #47B2E4;
	margin:10px 0 0 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}
.FooterBottom{
	background-color: #37517E;
	height: 81px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px;
	align-items: center;
	font-family: 'Open Sans';
	justify-content: space-between;
}
.FooterBottom .FootLeft p{
	text-align: left;
	font-weight: 400;
}
.FooterBottom .FootRight p{
	text-align: right;
	font-weight: 400;
	font-size: 13px;
}
@media screen and (max-width:1200px){
	.tag-hero{
		width: auto;
	}
}
@media screen and (max-width:992px){
	ul li a{
		padding: 8px 20px;
	}
	.tag-hero{
		width: auto;
	}
	.tag-hero h1{
		font-size: 42px;
	}
	.tag-hero p{
		font-size: 22px;
	}
	.container .fluid{
		display: block;
		height: 100vh;
	}
	.container figure{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.container figure img{
		margin-top: 50px;
		width: 636px;
		height: 527px;
	}
}
@media screen and (max-width:768px){
	.nav{
		padding: 15px 0px
	}
	.logo{
		font-size: 22px;
	}
	ul li a{
		padding: 8px 15px;
	}
	.hero{
		background-color: #37517E;
		height: 100vh;
	}
	.container{
		margin: 0px 50px;
		padding: 80px  0 0 0;
		display: flex;
	}
	.tag-hero{
		width: 100%;
	}
	.tag-hero h1{
		font-size: 38px;
	}
	.tag-hero p{
		font-size: 18px;
	}
	.btn-hero{
		gap: 30px;
		margin: 30px 0 0 0;
	}
	.btn-hero .btn-start{
		padding: 10px 20px;
		font-size: 14px;
	}
	.btn-hero .btn-watch{
		padding: 10px 20px;
		font-size: 14px;
	}
	.container .fluid{
		display: block;
	}
	.container figure{
		display: flex;
		align-items: center;
	}
	.container figure img{
		margin-top: 40px;
		width: 406px;
		height: 397px;
	}
	footer .container-footer{
		margin: 0 50px;
		padding: 50px 0;
	}
	.footer{
		background-color: white;
		padding: 0;
	}
	.footer-col .contact{
		margin-top: 10px;
	}
	.footer-col h1{
		font-size: 24px;
	}
	
	.footer-col ul li:not(:last-child){
		margin-bottom: 10px;
	}
	.footer-col .social-links a{
		height: 30px;
		width: 30px;
	}
	.FooterBottom{
		height: 61px;
	}
	.FooterBottom p{
		font-size: 13px;
	}
}
@media screen and (max-width:425px){
	.container{
		margin: 0px 20px;
		padding: 30px  0 0 0;
	}
	.logo{
		font-size: 18px;
	}
	.nav ul li{
		display: none;
	}
	.tag-hero{
		width: auto;
	}
	.tag-hero h1{
		font-size: 28px;
	}
	.tag-hero p{
		font-size: 14px;
	}
	.btn-hero{
		gap: 10px;
	}
	.btn-hero .btn-start{
		padding: 8px 16px;
		font-size: 13px;
	}
	.btn-hero .btn-watch{
		padding: 8px 16px;
		font-size: 13px;
	}
	.container .fluid{
		display: block;
	}
	.container figure img{
		margin-top: 30px;
		width: 356px;
		height: 347px;
	}
	.news{
		padding: 20px 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.news .HeadNews h3{
		font-size: 20px;
		padding: 5px 0;
	}
	.news .HeadNews p{
		font-size: 12px;
		width: auto;
		padding: 5px 0;
	}
	.Subscribe{
		width: 100%;
		height: 28px;
		display: flex;
	}
	.Subscribe input{
		font-size: 12px;
		width: 100px;
		width: 80%;
	}
	.Subscribe .btn{
		padding: 6px 12px;
		font-size: 13px;
		width: 20%;
	}
	footer .container-footer{
		margin: 0 20px;
	}
	.footer-col{
	   width: 100%;
	   padding: 0px;
	}
	.footer-col .addres p{
		line-height: 12px;
	}
	.footer-col p{
		font-size: 12px;
		padding: 5px 0 0 0;
		line-height: 16px;
	}
	.footer-col .contact{
		margin-top: 10px;
	}
	
	.footer-col ul li{
		width: 100%;
		margin:5px 0 0 0;
	}
	.footer-col h1{
		font-size: 20px;
	}
	.footer-col h4{
		margin-top: 20px;
		font-size: 16px;
	}
	.footer-col ul li:not(:last-child){
		margin-bottom: 5px;
	}
	.footer-col ul li a{
		margin:5px 0 0 0;
		font-size: 12px;
	}
	.FooterBottom{
		padding: 10px 20px;
		height: 50px;
	}
	.FooterBottom p{
		font-size: 11px;
	}
}
